* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.6rem;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}

.wrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1500px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
header .wrapper .logo {
  display: flex;
  margin-top: 20px;
}
header .wrapper .logo-img {
  animation: heartbeat 3s infinite 10s;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
header .wrapper .logo-img-el {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7rem;
  color: rgb(255, 255, 255);
}
header .wrapper .logo-img-text {
  display: none;
  translate: -50% -50%;
}
header .wrapper .logo-img-w1 {
  translate: -50% -52.5%;
  color: rgb(255, 255, 128);
}
header .wrapper .logo-img-w2 {
  translate: -55% -42.5%;
  color: rgb(128, 255, 255);
}
header .wrapper .logo-img-w3 {
  translate: -45% -47.5%;
  color: rgb(255, 128, 255);
}
header .wrapper .nav-main {
  height: 100%;
}
header .wrapper .nav-main ul {
  display: flex;
  padding: 0 20px;
  height: 100%;
}
header .wrapper .nav-main ul li a {
  display: inline-block;
  position: relative;
  padding: 0 40px;
  font-size: 2rem;
  line-height: 100px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
header .wrapper .nav-main ul li a::after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 20%;
  width: 0;
  border-bottom: 5px solid rgb(255, 255, 128);
  transition: width 0.3s ease-in-out;
}
header .wrapper .nav-main ul li a:hover::after {
  width: 60%;
}
header .wrapper .nav-burger {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
  top: 40px;
  right: 50px;
  height: 45px;
  cursor: pointer;
}
header .wrapper .nav-burger-line, header .wrapper .nav-burger-line::before, header .wrapper .nav-burger-line::after {
  content: "";
  display: block;
  position: absolute;
  width: 45px;
  height: 4px;
  background: rgb(255, 255, 255);
  transition: transform 0.5s, top 0.3s, background 0.3s;
  transform-origin: center;
}
header .wrapper .nav-burger-line {
  position: relative;
}
header .wrapper .nav-burger-line::before {
  top: -15px;
}
header .wrapper .nav-burger-line::after {
  top: 15px;
}
header .wrapper .nav-burger .nav-burger-x {
  background: transparent;
}
header .wrapper .nav-burger .nav-burger-x::before {
  top: 0;
  transform: rotate(45deg);
}
header .wrapper .nav-burger .nav-burger-x::after {
  top: 0;
  transform: rotate(-45deg);
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  max-height: 900px;
  background-size: cover;
  background-position: center;
}
.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 70px;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 70px;
}
.hero-content-frame {
  height: 100%;
  width: 50%;
}
.hero-content-frame-paint {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("../img/vintage-wooden-square-frame.png");
  background-size: 100% 100%;
}
.hero-content-main {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.hero-content-main p {
  font-size: 2.5rem;
}
.hero-content-main h1 {
  margin: 10px 0 30px;
  font-size: 6rem;
  letter-spacing: 3px;
}
.hero-content-main button {
  padding: 15px 50px;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border: none;
  background-color: rgb(255, 255, 128);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.hero-content-main button:hover {
  box-shadow: 5px 5px rgb(0, 0, 0);
}

.hero-main {
  background-image: url("../img/white-lightblue-background-cloud.jpg");
  color: rgb(0, 0, 0);
}

.belt {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.belt-track {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.belt-track-item {
  font-family: "Playfair Display", serif;
}
.belt-track-item .w1 {
  color: rgb(255, 255, 128);
}
.belt-track-item .w2 {
  color: rgb(128, 255, 255);
}
.belt-track-item .w3 {
  color: rgb(255, 128, 255);
}

.offer .wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
}
.offer-box {
  display: flex;
  margin: 30px 0px;
  gap: 30px;
}
.offer-box .offer-box-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.offer-box .offer-box-img img {
  width: 100%;
}
.offer-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.offer-box-content p {
  margin: 20px 0;
}
.offer-box:nth-child(2n) {
  flex-direction: row-reverse;
}

@media (max-width: 900px) {
  .wrapper {
    padding: 0 20px;
  }
  header {
    position: fixed;
    height: 80px;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  header .wrapper {
    padding: 0;
  }
  header .wrapper .logo {
    position: fixed;
    padding-left: 20px;
    margin-top: 10px;
    height: 60px;
    z-index: 1;
  }
  header .wrapper .logo-img {
    width: 60px;
    height: 60px;
  }
  header .wrapper .nav-main {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 80px 30px 40px;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
  }
  header .wrapper .nav-main ul {
    flex-direction: column;
    padding: 0;
  }
  header .wrapper .nav-main ul li {
    margin-top: 30px;
    justify-content: flex-end;
    text-align: right;
  }
  header .wrapper .nav-main ul li a {
    padding: 0;
    line-height: normal;
    color: rgb(255, 255, 255);
  }
  header .wrapper .nav-main ul li a::after {
    bottom: -10px;
    left: -10%;
    width: 0;
  }
  header .wrapper .nav-main ul li a:hover::after {
    width: 120%;
  }
  header .wrapper .nav-main::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 2.5%;
    width: 95%;
    border-bottom: 3px solid rgb(128, 255, 255);
  }
  header .wrapper .nav-main-show {
    opacity: 1;
    transform: translateY(0%);
  }
  header .wrapper .nav-burger {
    display: flex;
    top: 17.5px;
    right: 20px;
    transition: top 0.3s ease-in-out;
  }
  .header-hide {
    top: -100px;
    opacity: 1;
  }
  .header-hide .wrapper .nav-burger {
    top: -40px;
  }
  .header-bgc {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .hero {
    min-height: 600px;
  }
  .hero-content {
    flex-direction: column;
  }
  .hero-content-frame {
    height: 45%;
  }
  .hero-content-frame-paint {
    width: 80%;
  }
  .hero-content-frame-paint-text {
    font-size: 7vw;
  }
  .hero-content-frame-paint-leters {
    font-size: 14vw;
  }
  .hero-content-main {
    height: 55%;
  }
  .hero-content-main p {
    font-size: 2rem;
  }
  .hero-content-main button {
    padding: 10px 30px;
  }
}/*# sourceMappingURL=main.css.map */