* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.6rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}

.wrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1300px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .logo {
  display: flex;
}
header .wrapper .logo-www {
  display: inline-block;
  font-size: 7rem;
  font-family: "Playfair Display", serif;
  line-height: 80px;
  color: rgb(128, 255, 255);
}
header .wrapper .logo-text {
  display: inline-block;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
header .wrapper .logo-www:hover ~ .logo-text {
  opacity: 1;
}
header .wrapper .nav-desktop {
  height: 100%;
}
header .wrapper .nav-desktop ul {
  display: flex;
  height: 100%;
}
header .wrapper .nav-desktop ul li a {
  display: inline-block;
  position: relative;
  padding: 0 30px;
  font-size: 1.8rem;
  line-height: 80px;
  font-family: "Inter";
  font-weight: 600;
  color: #000;
}
header .wrapper .nav-desktop ul li a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 20%;
  width: 0;
  border-bottom: 3px solid rgb(255, 255, 192);
  transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
header .wrapper .nav-desktop ul li a:hover::after {
  width: 60%;
  box-shadow: 0 0 5px rgb(255, 255, 128), 0 0 10px rgb(255, 255, 128), inset 0 0 5px rgb(255, 255, 128);
}

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-content p {
  font-size: 2.5rem;
}
.hero-content h1 {
  margin: 10px 0 30px;
}
.hero-content button {
  padding: 15px 50px;
  border: 3px solid rgb(255, 255, 128);
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0);
  transition: border 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
.hero-content button:hover {
  border: 3px solid rgb(255, 255, 192);
  box-shadow: 0 0 5px rgb(255, 255, 128), 0 0 10px rgb(255, 255, 128), inset 0 0 5px rgb(255, 255, 128);
}

.hero-main {
  background-image: url("../img/gray-background-light_1000x667px.jpg");
  color: #000;
}
.hero-main-bg {
  background-color: rgba(0, 0, 0, 0);
}
.hero-main-content-decoration, .hero-main-content-www {
  position: absolute;
}
.hero-main-content-www {
  top: 10%;
  right: 30%;
}
.hero-main-content-decoration {
  bottom: 0;
  right: 40%;
}

.offer .wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
}
.offer-box {
  display: flex;
  margin: 30px 0px;
  gap: 30px;
}
.offer-box .offer-box-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.offer-box .offer-box-img img {
  width: 100%;
}
.offer-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.offer-box-content p {
  margin: 20px 0;
}
.offer-box:nth-child(2n) {
  flex-direction: row-reverse;
}/*# sourceMappingURL=main.css.map */