$main-black: #000;
$main-yellow: rgba(255, 255, 128);
$main-yellow-light: rgb(255, 255, 192);
$main-yellow-light-opacity: rgb(255, 255, 192, 0.5);
$main-blue: rgb(128, 128, 255);
$main-purple: rgb(192, 128, 255);