$main-dark: rgb(0, 0, 0);
$main-dark-opacity15: rgba(0, 0, 0, 0.15);
$main-dark-opacity50: rgba(0, 0, 0, 0.5);
$main-dark-opacity85: rgba(0, 0, 0, 0.85);
$main-bright: rgb(255, 255, 255);
$main-bright-opacity-15: rgba(255, 255, 255, 0.15);
$main-bright-opacity-50: rgba(255, 255, 255, 0.50);
$main-bright-opacity-85: rgba(255, 255, 255, 0.85);
$gray: rgb(128, 128, 128);
$gray-opacity15: rgba(128, 128, 128, 0.15);
$yellow: rgba(255, 255, 128);
$yellow-light: rgb(255, 255, 192);
$blue: rgb(128, 255, 255);
$blue-light: rgb(192, 255, 255);
$blue-opacity-15: rgb(128, 255, 255, 0.25);
$purple: rgb(255, 128, 255);
$purple-light: rgb(255, 192, 255);