* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.5rem;
}

h5 {
	font-size: 2.2rem;
}

h6 {
	font-size: 2rem;
}

p {
	font-size: 1.8rem;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

ul {
	list-style-position: inside;
}

// mobile max-width: 500px

@media (max-width: 500px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	h4 {
		font-size: 2.2rem;
	}

	h5 {
		font-size: 2rem;
	}

	h6 {
		font-size: 1.8rem;
	}

	p {
		font-size: 1.6rem;
	}
}
