@use './reset';
@use './colors';
@use './variables';
@use './animations';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: variables.$font-main-two;
}

button,
p {
	font-family: variables.$font-main-one;
}

.wrapper {
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 0 50px;
	max-width: 1500px;
}

//header section
.header {
	position: absolute;
	height: 100px;
	width: 100%;
	z-index: 1;

	.wrapper {
		display: flex;
		justify-content: space-between;

		.logo {
			display: flex;
			margin-top: 20px;

			&-img {
				width: 100px;
				height: 100px;
				background-color: colors.$main-black;
				border-radius: 10px;
				animation: heartbeat 3s infinite 10s;

				&-el {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 7rem;
				}

				&-w1 {
					translate: -50% -52.5%;
					color: colors.$main-yellow;
				}

				&-w2 {
					translate: -55% -42.5%;
					color: colors.$main-blue;
				}

				&-w3 {
					translate: -45% -47.5%;
					color: colors.$main-purple;
				}
			}
		}

		.nav-main {
			display: flex;
			align-items: center;

			ul {
				display: flex;
				justify-content: center;

				li {
					padding-left: 30px;

					a {
						position: relative;
						padding: 20px;
						font-size: 2rem;
						font-family: variables.$font-main-one;
						font-weight: 600;
						color: colors.$main-black;

						&::after {
							content: '';
							position: absolute;
							bottom: 10px;
							left: 10%;
							width: 0;
							border-bottom: 5px solid colors.$main-yellow;
							transition: width 0.3s ease-in-out;
						}

						&:hover::after {
							width: 80%;
						}
					}
				}
			}
		}

		.nav-burger {
			display: none;
		}
	}
}

//hero section
.hero {
	position: relative;
	height: 100vh;
	min-height: 600px;
	max-height: 1000px;

	&-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}

	&-main-bg {
		background-image: url('../img/white-lightblue-background-cloud.jpg');
	}

	&-content {
		display: flex;
		align-items: flex-end;
		padding-top: 50px;
		padding-bottom: 50px;
		width: 100%;

		&-main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 50%;
			width: 70%;

			p {
				font-size: 2.5rem;
			}

			h1 {
				margin: 10px 0 30px;
				font-size: 6rem;
				letter-spacing: 3px;
			}

			button {
				padding: 15px 50px;
				font-size: 2rem;
				font-family: variables.$font-main-one;
				font-weight: 600;
				color: colors.$main-black;
				border: none;
				background-color: colors.$main-yellow;
				transition: background-color 0.3s ease-in-out;

				&:hover {
					background-color: colors.$main-yellow-light;
				}
			}
		}
	}
}

//belt section
.belt {
	padding: 10px 0;
	background-color: colors.$main-black;
	color: colors.$main-white;
	overflow: hidden;

	&-track {
		display: flex;
		justify-content: space-around;

		&-item {
			font-family: variables.$font-main-two;

			.w1 {
				color: colors.$main-yellow;
			}

			.w2 {
				color: colors.$main-blue;
			}

			.w3 {
				color: colors.$main-purple;
			}
		}
	}
}

//offer section
.offer {
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin: 50px auto;
	}

	&-box {
		display: flex;
		margin: 30px 0px;
		gap: 30px;

		.offer-box-img {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 40%;

			img {
				width: 100%;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 60%;

			p {
				margin: 20px 0;
			}
		}
	}

	&-box:nth-child(2n) {
		flex-direction: row-reverse;
	}
}

//media queries
//min-width: 1100px
@media (min-width: 1500px) {
}

//max-width: 700px
@media (max-width: 700px) {
	.wrapper {
		padding: 0 20px;
	}

	//header section max-width: 700px
	.header {
		position: fixed;
		top: 0;
		transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;

		.wrapper {
			padding: 0;

			.logo {
				position: fixed;
				margin-left: 20px;
				z-index: 1;

				.logo-img {
					width: 60px;
					height: 60px;

					&-el {
						font-size: 5rem;
					}
				}
			}

			.nav-main {
				position: fixed;
				justify-content: flex-end;
				width: 100%;
				padding-top: 100px;
				background-color: colors.$main-white-opacity-85;
				opacity: 0;
				transform: translateY(-100%);
				transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

				ul {
					flex-direction: column;
					margin-bottom: 30px;

					li {
						margin-top: 30px;
						text-align: right;

						a {
							padding: 20px 25px;

							&::after {
								border-bottom: 5px solid colors.$main-blue;
							}
						}
					}
				}

				&::before {
					content: '';
					position: absolute;
					top: 100px;
					left: 2.5%;
					width: 95%;
					border-bottom: 3px solid colors.$main-purple;
				}

				&-show {
					opacity: 1;
					transform: translateY(0%);
				}
			}

			.nav-burger {
				position: fixed;
				display: flex;
				align-items: center;
				padding: 5px;
				top: 27.5px;
				right: 15px;
				height: 45px;
				cursor: pointer;
				transition: top 0.3s ease-in-out;

				&-line,
				&-line::before,
				&-line::after {
					content: '';
					display: block;
					position: absolute;
					width: 45px;
					height: 4px;
					background: colors.$main-black;
					transition: transform 0.5s, top 0.3s, background 0.3s;
					transform-origin: center;
				}

				&-line {
					position: relative;

					&::before {
						top: -15px;
					}

					&::after {
						top: 15px;
					}
				}

				.nav-burger-x {
					background: transparent;

					&::before {
						top: 0;
						transform: rotate(45deg);
					}

					&::after {
						top: 0;
						transform: rotate(-45deg);
					}
				}
			}
		}

		&-hide {
			top: -100px;

			.wrapper {
				.nav-burger {
					top: -40px;
				}
			}
		}

		&-bgc {
			background-color: colors.$main-white-opacity-85;
		}
	}

	//hero section max-width: 700px
	.hero {
		max-height: 800px;

		&-content {
			padding-top: 50px;
			padding-bottom: 50px;

			&-main {
				align-items: center;
				height: 50%;
				width: 100%;

				p {
					font-size: 2rem;
					text-align: center;
				}

				h1 {
					font-size: 4rem;
					text-align: center;
					letter-spacing: 0;
				}
			}
		}
	}

	.belt-track-item {
		padding: 0 3rem;
	}
}
