@use './reset';
@use './colors';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Inter', sans-serif;
}

.hero {
	position: relative;
	height: 100vh;
	max-height: 1000px;
	background-size: cover;
	background-position: center;

	&-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&-text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		padding: 50px;
		height: 100%;

		p {
			font-size: 2.5rem;
		}
	}
}

.hero-main {
	// position: sticky;
	background-image: url('../img/gray-background-light_1000x667px.jpg');
	color: colors.$main-black;

	&-bg {
		background-color: rgba(0, 0, 0, 0);
	}
}
