@use './reset';
@use './colors';

.hero {
	position: relative;
    height: 800px;
	// background-size: cover;
	// background-position: center;

	&-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}

	&-text {
        display: flex;
		justify-content: center;
		flex-direction: column;
        padding: 50px;
        height: 100%;
    }
}
