@use './reset';
@use './colors';
@use './variables';
@use './animations';

// ---------------------------------
// GENERAL STYLING
// ---------------------------------

body {
	overflow-x: hidden;
}

body::selection {
	background-color: colors.$main-yellow-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: variables.$font-main-two;
}

button,
p {
	font-family: variables.$font-main-one;
}

button {
	padding: 15px 50px;
	font-size: 2rem;
	font-weight: 600;
	color: colors.$main-black;
	border: none;
	background-color: colors.$main-yellow;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: colors.$main-yellow-light;
	}
}

section {
	scroll-margin-top: 50px;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0 50px;
	width: 100%;
	max-width: 1500px;
}

.title {
	position: relative;
	text-align: center;
	padding: 20px 50px;

	&::after {
		content: '';
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 100px);
		border-bottom: 5px solid colors.$main-purple;
	}
}

// ---------------------------------
// HEADER SECTION
// ---------------------------------

.header {
	position: absolute;
	height: 100px;
	width: 100%;
	z-index: 1;

	.wrapper {
		display: flex;
		justify-content: space-between;

		.logo {
			display: flex;
			margin-top: 20px;

			&-img {
				width: 100px;
				height: 100px;
				background-color: colors.$main-black;
				border-radius: 10px;
				animation: heartbeat 3s infinite 10s;

				&-el {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 7rem;
				}

				&-w1 {
					translate: -50% -52.5%;
					color: colors.$main-yellow;
				}

				&-w2 {
					translate: -55% -42.5%;
					color: colors.$main-blue;
				}

				&-w3 {
					translate: -45% -47.5%;
					color: colors.$main-purple;
				}
			}
		}

		.nav-main {
			display: flex;
			align-items: center;

			ul {
				display: flex;
				justify-content: center;

				li {
					padding-left: 30px;

					a {
						position: relative;
						padding: 20px;
						font-size: 2rem;
						font-family: variables.$font-main-one;
						font-weight: 600;
						color: colors.$main-black;

						&::after {
							content: '';
							position: absolute;
							bottom: 10px;
							left: 10%;
							width: 0;
							border-bottom: 5px solid colors.$main-yellow;
							transition: width 0.3s ease-in-out;
						}

						&:hover::after {
							width: 80%;
						}
					}
				}
			}
		}

		.nav-burger {
			display: none;
		}
	}
}

// ---------------------------------
// HERO SECTION
// ---------------------------------

.hero {
	position: relative;
	height: 100vh;
	min-height: 600px;
	max-height: 1000px;

	&-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}

	&-main-bg {
		background-image: url('../img/blue-paints-white-paper_2000-1706px.jpg');
	}

	&-content {
		display: flex;
		align-items: flex-end;
		padding-top: 50px;
		padding-bottom: 50px;
		height: 100%;
		width: 100%;

		&-main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 50%;
			width: 70%;

			p {
				font-size: 2.5rem;
			}

			h1 {
				margin: 10px 0 30px;
				letter-spacing: 3px;
			}
		}
	}
}

// ---------------------------------
// BELT SECTION
// ---------------------------------

.belt-cover {
	display: none;
}

.belt {
	height: 80px;
	background-color: colors.$main-black;
	color: colors.$main-white;
	overflow-x: hidden;

	.wrapper {
		max-width: 1600px;
		padding: 0;
	}

	&-track {
		display: flex;
		animation: belt 5s infinite linear;

		&-item {
			display: flex;
			align-items: center;
			min-width: 200px;
			height: 80px;
			font-family: variables.$font-main-two;

			.w1 {
				color: colors.$main-yellow;
			}

			.w2 {
				color: colors.$main-blue;
			}

			.w3 {
				color: colors.$main-purple;
			}
		}
	}
}

// ---------------------------------
// OFFER SECTION
// ---------------------------------

.offer {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	gap: 30px;

	&-box .wrapper {
		display: flex;
		margin: 30px 0px;
		gap: 30px;

		.offer-box-img {
			display: flex;
			width: 50%;

			img {
				width: 100%;
			}
		}

		.offer-box-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;

			p {
				margin-top: 20px;
			}

			button {
				margin-top: 20px;
			}
		}
	}

	&-box:nth-child(2n) .wrapper {
		flex-direction: row-reverse;
	}
}

.offer-maintenance {
	padding: 50px 0;
	background-color: colors.$main-black;
	color: colors.$main-white;

	h3 {
		color: colors.$main-blue;
	}
}

// ---------------------------------
// FOOTER SECTION
// ---------------------------------

.footer {
	background-color: colors.$main-blue-light;
	color: colors.$main-black;

	.contact {
		height: 300px;
	}

	.author {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 60px;
		font-family: variables.$font-main-two;
		color: colors.$main-black;

		&::before {
			content: '';
			position: absolute;
			bottom: 60px;
			width: 100%;
			border-bottom: 3px solid colors.$main-purple;
		}
	}

	.logo {
		position: absolute;
		bottom: 20px;
		z-index: 1;

		.logo-img {
			width: 100px;
			height: 100px;
			background-color: colors.$main-black;
			border-radius: 10px;
			animation: heartbeat 3s infinite 10s;

			&-el {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 7rem;
			}

			&-w1 {
				translate: -50% -52.5%;
				color: colors.$main-yellow;
			}

			&-w2 {
				translate: -55% -42.5%;
				color: colors.$main-blue;
			}

			&-w3 {
				translate: -45% -47.5%;
				color: colors.$main-purple;
			}
		}
	}
}

// ---------------------------------
// MEDIA QUERIES
// ---------------------------------
// MIN-WIDTH: 1536px

@media (min-width: 1536px) {
	.belt-cover {
		position: relative;
		display: block;
		max-width: 1600px;

		&-bgc {
			position: absolute;
			left: 0;
			width: 100%;

			&::before,
			&::after {
				content: '';
				position: absolute;
				background-color: colors.$main-black;
				height: 80px;
				width: 600px;
				z-index: 1;
			}

			&::before {
				left: -600px;
			}

			&::after {
				right: -600px;
			}
		}
	}
}

// ---------------------------------
// MEDIA QUERIES
// ---------------------------------
// min-width: 768px
// ---------------------------------

@media (max-width: 768px) {
	// ---------------------------------
	// GENERAL STYLING [max-width: 768px]
	// ---------------------------------
	.wrapper {
		padding: 0 20px;
	}

	.title::after {
		width: 200px;
	}

	// ---------------------------------
	// HEADER SECTION [max-width: 768px]
	// ---------------------------------

	.header {
		position: fixed;
		top: 0;
		transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;

		.wrapper {
			padding: 0;

			.logo {
				position: fixed;
				margin-left: 20px;
				z-index: 1;

				.logo-img {
					width: 60px;
					height: 60px;

					&-el {
						font-size: 5rem;
					}
				}
			}

			.nav-main {
				position: fixed;
				justify-content: flex-end;
				width: 100%;
				padding-top: 100px;
				background-color: colors.$main-white-opacity-85;
				opacity: 0;
				transform: translateY(-100%);
				transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

				ul {
					flex-direction: column;
					margin-bottom: 30px;

					li {
						margin-top: 30px;
						text-align: right;

						a {
							padding: 20px 25px;

							&::after {
								border-bottom: 5px solid colors.$main-blue;
							}
						}
					}
				}

				&::before {
					content: '';
					position: absolute;
					top: 100px;
					left: 2.5%;
					width: 95%;
					border-bottom: 3px solid colors.$main-purple;
				}

				&-show {
					opacity: 1;
					transform: translateY(0%);
				}
			}

			.nav-burger {
				position: fixed;
				display: flex;
				align-items: center;
				padding: 5px;
				top: 27.5px;
				right: 15px;
				height: 45px;
				cursor: pointer;
				transition: top 0.3s ease-in-out;

				&-line,
				&-line::before,
				&-line::after {
					content: '';
					display: block;
					position: absolute;
					width: 45px;
					height: 4px;
					background: colors.$main-black;
					transition: transform 0.5s, top 0.3s, background 0.3s;
					transform-origin: center;
				}

				&-line {
					position: relative;

					&::before {
						top: -15px;
					}

					&::after {
						top: 15px;
					}
				}

				.nav-burger-x {
					background: transparent;

					&::before {
						top: 0;
						transform: rotate(45deg);
					}

					&::after {
						top: 0;
						transform: rotate(-45deg);
					}
				}
			}
		}

		&-hide {
			top: -100px;

			.wrapper {
				.nav-burger {
					top: -40px;
				}
			}
		}

		&-bgc {
			background-color: colors.$main-white-opacity-85;
		}
	}

	// ---------------------------------
	// HERO SECTION [max-width: 768px]
	// ---------------------------------

	.hero {
		max-height: 800px;

		&-main-bg {
			background-image: url('../img/blue-paints-white-paper_1000-853px.jpg');
		}

		&-content {
			padding-top: 50px;
			padding-bottom: 50px;

			&-main {
				align-items: center;
				height: 50%;
				width: 100%;

				p {
					font-size: 2rem;
					text-align: center;
				}

				h1 {
					font-size: 4rem;
					text-align: center;
					letter-spacing: 0;
				}
			}
		}
	}

	// ---------------------------------
	// OFFER SECTION [max-width: 768px]
	// ---------------------------------
	.offer-box {
		&-img {
			width: 100%;
		}

		&-content {
			align-items: center;
			width: 100%;

			h3 {
				text-align: center;
			}
		}

		&:nth-child(n) {
			flex-direction: column;
		}
	}
	// ---------------------------------
	// FOOTER SECTION [max-width: 768px]
	// ---------------------------------

	.footer .author {
		justify-content: flex-end;
	}
}
